.navbar {
    padding: 15px;
    background: #032d46;
    font-size: 18px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar a:hover {
    background: red;
}

#aboutme {
    background: #264e68;
}

.portfolio {
    background: #E8E8E8;
    margin-top: 0;
    padding: 0;
}

.jumbotron {
    background: url(../img/html.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#welcome-section {
    height: 100vh;
    padding: 20% 0px;
}

.jumbotron p {
    animation-duration: 1s;
}

.jumbotron a:hover {
    font-size: 18px;
}

footer a:hover {
    font-size: 18px;
}

img {
    width: 250px;
    height: 250px;
}

.container-fluid img {
    height: 180px;
}

.nav-item {
    font-size: 22px;
    margin-left: 35px;
}

footer {
    margin-top: 25px;
    background: #032d46;
}

.fas fa-envelope {
    text-decoration: none;
    text-transform: none;
}

h1 {
    animation-duration: 1s;
}

h2 {
    animation-duration: 1s;
    animation-delay: 3s
}

.progress-bar {
    background-color: pink;
}

.text-pink {
    color: pink;
}

.bg-orange {
    background-color: #EE7600;
}

.text-orange {
    color: #EE7600;
}

.bg-purple {
    background-color: #551A8B;
}

.text-purple {
    color: #551A8B;
}